// @import url(../operations-history/operations-history.component.scss);

.calculator,
.box {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 12px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    padding: 24px 16px 16px;
    background-color: rgb(243, 243, 243);
}

.calculator {
    margin-bottom: 8px;
}

input,
select {
    display: flex;
    padding: 8px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    width: 100%;
}

select,
.select {
    width: fit-content;

    &__group-modifier {
        width: 100%;
        text-align: center;
    }
}

.select__modifier {
    border: none;
    background-color: transparent;
}

input:focus-visible {
    outline: 2px solid rgb(85, 85, 251);
    border: none;
}


button {
    padding: 12px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    color: #131313;
    border-radius: 4px;
    width: 100%;
    font-weight: 500;
}

button:active {
    background-color: #e7e7e7;
}

.btn {
    font-weight: 500;

    &__primary {
        background-color: rgb(72, 72, 255);
        color: white;
    }

    &__primary:active {
        background-color: rgb(54, 54, 226);
    }


    &__subprimary {
        background-color: lighten($color: rgb(72, 72, 255), $amount: 30%);
        color: rgb(72, 72, 255);
    }

    &__subprimary:active {
        background-color: lighten($color: rgb(72, 72, 255), $amount: 20%);
    }

    &__danger {
        background-color: rgb(219, 30, 30);
        color: white;
    }

    &__danger:active {
        background-color: rgb(190, 28, 28);
        color: white;
    }
}

.calc__buttons {
    justify-content: space-between;
}

.flex-container {
    display: flex;
    gap: 8px;
}

.flex-container--v {
    display: flex;
    flex-direction: column;
}

.inputs {
    gap: 16px;
}

.result {
    border-radius: 4px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    opacity: 0.4;
}


.box {
    padding: 16px;
    font-weight: bold;
}

.box {
    .flex-container:first-child {
        justify-content: space-between;
        align-items: center;

        span {
            font-weight: 400;
        }

        svg {
            order: 0;
            opacity: 0.8;
        }
    }
}

.flex-container {
    justify-content: space-between;
    align-items: end;
}


.history {
    &-time {
        font-size: 12px;
        opacity: 0.4;
    }

    &-operation {
        opacity: 0.8;
    }

    &-result {
        opacity: 0.6;
    }

}